<nav role="navigation" class="navbar topnavbar">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">
            <!-- <div class="brand-logo">
                <img ng-src="{{config.feRoot}}asset/img/logo.png" alt="App Logo" class="img-responsive">
            </div> -->
            <h1 class="site-title">后台管理系统</h1>
        </a>
    </div>
    <!-- <div class="nav-wrapper">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="username">{{user.name}}</a>
            </li>
        </ul>
    </div> -->
</nav>